html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 780px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  background-color: #e5e5e5;
  background-position: top center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  body {
    min-height: 582px;
  }
}

img {
  max-width: 100%;
}

.visually-hidden {
  display: none;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-1 */
/* --------------------------------------------- */
.section-1 {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 8px;
  padding-left: 8px;
  display: grid;
  justify-items: center;
  gap: 10px;
}

.section-1__header {
  text-align: center;
  font-size: 14px;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-2 */
/* --------------------------------------------- */
.section-2 {
  margin-top: -39px;
  margin-right: 8px;
  margin-left: 8px;
  display: grid;
  justify-items: center;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .section-2 {
    margin-top: -23px;
  }
}
@media (min-width: 920px) {
  .section-2 {
    margin-right: 28px;
    margin-left: 29px;
  }
}

.section-2__modal-window {
  width: 100%;
  height: auto;
  min-height: 698px;
  position: absolute;
  margin-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
@media (min-width: 768px) {
  .section-2__modal-window {
    min-height: 542px;
  }
}
@media (min-width: 920px) {
  .section-2__modal-window {
    min-height: 315px;
  }
}

.section-2__modal-x-container {
  width: 28px;
  height: 28px;
  margin-top: 18.56px;
  margin-left: auto;
  margin-right: 13.56px;
}

.section-2__modal-x {
  float: right;
  width: 14px;
  height: 14px;
  border: none;
  background-color: transparent;
}
.section-2__modal-x::after {
  content: " ";
  display: block;
  width: 18.93px;
  height: 2.1px;
  position: absolute;
  top: 26px;
  right: 18px;
  transform: rotate(-45deg);
  border-radius: 8px;
  background-color: #c4c4c4;
}
@media (min-width: 768px) {
  .section-2__modal-x::after {
    top: 27px;
    right: 38px;
  }
}
@media (min-width: 920px) {
  .section-2__modal-x::after {
    right: 19px;
  }
}
.section-2__modal-x::before {
  content: " ";
  display: block;
  width: 18.93px;
  height: 2.1px;
  position: absolute;
  top: 26px;
  right: 18px;
  transform: rotate(45deg);
  border-radius: 8px;
  background-color: #c4c4c4;
}
@media (min-width: 768px) {
  .section-2__modal-x::before {
    top: 27px;
    right: 38px;
  }
}
@media (min-width: 920px) {
  .section-2__modal-x::before {
    right: 19px;
  }
}
.section-2__modal-x:hover {
  cursor: pointer;
  width: 28px;
  height: 28px;
  margin-top: -5.44px;
  margin-right: 0.56px;
  position: relative;
  border-radius: 8px;
  background-color: #f5f4f2;
}
@media (min-width: 768px) {
  .section-2__modal-x:hover {
    margin-top: -3.44px;
    margin-right: 21.56px;
  }
}
@media (min-width: 920px) {
  .section-2__modal-x:hover {
    margin-top: -4.44px;
    margin-right: 1.56px;
  }
}
.section-2__modal-x:hover::before, .section-2__modal-x:hover::after {
  position: absolute;
  top: 13px;
  left: 5px;
  background-color: #383736;
}
.section-2__modal-x:active {
  background-color: #e7e4de;
}

.section-2__modal-objects {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 268px;
  padding-right: 20.56px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .section-2__modal-objects {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -41px;
    margin-left: 29px;
    margin-right: 77px;
  }
}
@media (min-width: 920px) {
  .section-2__modal-objects {
    flex-wrap: nowrap;
  }
}

.section-2__modal-objects-img {
  margin-top: -20px;
}
@media (min-width: 768px) {
  .section-2__modal-objects-img {
    width: 31%;
    margin-top: 30px;
    margin-left: -11px;
  }
}
@media (min-width: 920px) {
  .section-2__modal-objects-img {
    margin-top: -86px;
    margin-left: 19px;
  }
}

.section-2__modal-objects-group {
  margin-top: 6px;
  width: 263.45px;
}
@media (min-width: 768px) {
  .section-2__modal-objects-group {
    width: 74%;
    margin-top: -187px;
    margin-left: 205px;
  }
}
@media (min-width: 920px) {
  .section-2__modal-objects-group {
    margin-top: -161px;
    margin-left: 77px;
  }
}

.section-2__modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #383736;
}
@media (min-width: 768px) {
  .section-2__modal-header {
    font-size: 24px;
  }
}

.section-2__modal-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  margin-top: -13px;
  min-height: 160px;
}
@media (min-width: 768px) {
  .section-2__modal-info {
    width: 57%;
    margin-top: -21px;
  }
}
@media (min-width: 920px) {
  .section-2__modal-info {
    width: 49%;
  }
}

.section-2__modal-header-add {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #989691;
  margin: 0;
}

.section-2__modal-info-add {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #383736;
  margin-top: -11px;
  margin-bottom: 0;
}

.section-2__modal-header-add-one {
  position: relative;
  top: 13px;
}

.section-2__modal-header-add-two {
  position: relative;
  top: 14px;
}
@media (min-width: 768px) {
  .section-2__modal-header-add-two {
    top: 13px;
    left: 2px;
  }
}

.section-2__modal-header-add-three {
  position: relative;
  top: 7px;
}

.section-2__modal-header-add-four {
  position: relative;
  top: 8px;
}
@media (min-width: 768px) {
  .section-2__modal-header-add-four {
    left: 2px;
  }
}

.section-2__modal-header-add-five {
  position: relative;
  top: 2px;
}

.section-2__modal-header-add-six {
  position: relative;
  top: 3px;
}
@media (min-width: 768px) {
  .section-2__modal-header-add-six {
    left: 2px;
  }
}

.section-2__modal-info-add-one {
  position: relative;
  top: 25px;
}

.section-2__modal-info-add-two {
  position: relative;
  top: 26px;
}
@media (min-width: 768px) {
  .section-2__modal-info-add-two {
    top: 25px;
    left: 2px;
  }
}

.section-2__modal-info-add-three {
  position: relative;
  top: 19px;
}

.section-2__modal-info-add-four {
  position: relative;
  top: 20px;
}
@media (min-width: 768px) {
  .section-2__modal-info-add-four {
    left: 2px;
  }
}

.section-2__modal-info-add-five {
  position: relative;
  top: 15px;
}

.section-2__modal-info-add-six {
  position: relative;
  top: 14px;
}
@media (min-width: 768px) {
  .section-2__modal-info-add-six {
    left: 2px;
  }
}

.section-2__modal-add-info {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .section-2__modal-add-info {
    flex-direction: row;
  }
}
@media (min-width: 920px) {
  .section-2__modal-add-info {
    flex-direction: column;
  }
}

.section-2__modal-ok {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  margin-bottom: 5px;
  width: 184px;
  min-height: 32px;
  border-radius: 22px;
  background-color: #f2faf0;
}
@media (min-width: 768px) {
  .section-2__modal-ok {
    margin-bottom: 0;
  }
}
@media (min-width: 920px) {
  .section-2__modal-ok {
    margin-left: 2px;
  }
}

.section-2__modal-ok-img {
  margin-right: 9.71px;
}
@media (min-width: 768px) {
  .section-2__modal-ok-img {
    margin-right: 13.71px;
  }
}

.section-2__modal-x-img {
  margin-right: 10.76px;
}

.section-2__modal-x-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 249px;
  min-height: 32px;
  margin-top: 3px;
  margin-bottom: 20px;
  border-radius: 22px;
  background-color: #faf0f0;
}
@media (min-width: 768px) {
  .section-2__modal-x-info {
    margin-bottom: 0;
    margin-left: 13px;
  }
}
@media (min-width: 920px) {
  .section-2__modal-x-info {
    margin-top: 8px;
    margin-left: -1px;
  }
}

.section-2__modal-watch {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #64b851;
  margin: 0;
}
@media (min-width: 768px) {
  .section-2__modal-watch {
    position: relative;
    left: -5px;
  }
}

.section-2__modal-another-result {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #eb4b51;
  margin: 0;
}

@media (min-width: 768px) {
  .section-2__modal-price {
    margin-top: 23px;
    margin-left: -197px;
  }
}
@media (min-width: 920px) {
  .section-2__modal-price {
    position: relative;
    min-width: 232px;
    margin-top: -291px;
    margin-left: 334px;
  }
}
.section-2__modal-price::before {
  content: " ";
  display: block;
  width: 100%;
  border-top: 1px solid #f0eeeb;
}
@media (min-width: 920px) {
  .section-2__modal-price::before {
    border-top: none;
    border-left: 1px solid #f0eeeb;
    position: absolute;
    left: -36px;
    min-height: 268px;
  }
}

.section-2__modal-different {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #989691;
  margin-top: 20px;
  padding-left: 1px;
}
@media (min-width: 768px) {
  .section-2__modal-different {
    margin-top: 25px;
    margin-left: -4px;
    padding-left: 0;
  }
}

.section-2__modal-different-add {
  margin-top: -6px;
}
@media (min-width: 768px) {
  .section-2__modal-different-add {
    margin-top: -7px;
  }
}

.section-2__modal-data {
  color: #2794db;
}

.section-2__modal-sum {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #383736;
  margin-top: -15px;
}
@media (min-width: 768px) {
  .section-2__modal-sum {
    font-size: 24px;
    margin-top: -8px;
    margin-left: -5px;
  }
}

.section-2__modal-difference {
  font-weight: 500;
  color: #eb4b51;
}

.section-2__modal-choose {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 268px;
  min-height: 44px;
  margin-top: 3px;
  margin-bottom: 20px;
  margin-left: 3px;
  padding-top: 12px;
  padding-right: 48px;
  padding-bottom: 12px;
  padding-left: 50px;
  border: none;
  border-radius: 6px;
  background-color: #fac62d;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #383736;
  text-decoration: none;
}
.section-2__modal-choose::before {
  content: " ";
  display: block;
  width: 12.26px;
  height: 12.26px;
  margin-right: 8.94px;
  background-image: url("../img/ico-key.svg");
}
.section-2__modal-choose:hover {
  cursor: pointer;
  background-color: #f0b505;
}
.section-2__modal-choose:active {
  background-color: #e1ab08;
}
@media (min-width: 768px) {
  .section-2__modal-choose {
    min-width: 108%;
    margin-top: 11px;
  }
}
@media (min-width: 920px) {
  .section-2__modal-choose {
    min-width: 37.5%;
    margin-top: 241px;
    margin-left: -200px;
    z-index: 1;
  }
}

/* --------------------------------------------- */