/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-1 */
/* --------------------------------------------- */

.section-1 {
    height: 100%;

    margin-right: auto;
    margin-left: auto;

    padding-right: 8px;
    padding-left: 8px;

    display: grid;
    justify-items: center;
    gap: 10px;

    // outline: 3px solid red; // специальные цыета для рамок по заданию
    // outline-offset: -3px; // специальные цыета для рамок по заданию
}

.section-1__header {
    text-align: center;
    font-size: 14px;
}

/* --------------------------------------------- */
