html {
    box-sizing: border-box;
    scroll-behavior: smooth;

    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;

    margin: 0;

    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    font-weight: normal;
    font-style: normal;
    
    background-color: #E5E5E5;
    background-position: top center;
    background-repeat: no-repeat;  
    
    // background-image: url("../img/maket.jpg");
    // opacity: 0.5;
}

img {
    max-width: 100%;
}

.visually-hidden {
    display: none;
}
